<template>
  <div class="card">
    <div class="title">{{title}}</div>
    <div class="desk">{{desk}}</div>
    <div class="author">{{authorName}}</div>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: {
    title: {
      type: String,
      default: ''
    },
    desk: {
      type: String,
      default: ''
    },
    authorName: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  padding: 30px;
  background: #fff;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-flow: column nowrap;
  min-height: 100%;
}

.title {
  color: #0086af;
  margin-bottom: 15px;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.desk {
  color: #333;
  font-size: 1rem;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.author {
  text-transform: capitalize;
  font-size: .8rem;
  margin-top: auto;
  color: #a5a5a5;
}
</style>
