<template>
  <div class="search">
    <input type="text" v-model="modelSearch" placeholder="Enter author name">
  </div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  name: 'Search',
  data () {
    return {
      modelSearch: ''
    }
  },
  async created () {
    this.modelSearch = this.$store.getters.search
  },
  watch: {
    modelSearch (cur) {
      this.setSearch(cur)
    }
  },
  methods: {
    ...mapMutations(['setSearch'])
  }
}
</script>

<style lang="scss" scoped>
.search{
  display: block;
  width: 100%;
  max-width: 460px;
  height: 40px;
  position: relative;
  margin: 0 auto 60px;
  background: #ffffff;
  input{
    background-color: transparent;
    border-radius: 0;
    padding: 0 0 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &:focus{
      outline: none;
    }
  }
}

</style>
