<template>
  <div id="app" class="app">
    <Search/>
    <div class="cards">
      <div
        v-for="card in cards"
        :key="card.id"
        class="cards__item">
        <Card
          :title="card.title"
          :author-name="card.authorName"
          :desk="card.desk"
        />
      </div>
    </div>
  </div>
</template>

<script>

import Card from './components/Card'
import { mapGetters } from 'vuex'
import Search from './components/Search'

export default {
  name: 'App',
  components: { Search, Card },
  data () {
    return {
      isLoad: false
    }
  },
  async created () {
    await this.$store.dispatch('getPostsFromApi')
    await this.$store.dispatch('getUsersFromApi')
    this.isLoad = true
  },
  computed: {
    ...mapGetters(['posts', 'usersCount', 'getUserById', 'search']),
    cards: function () {
      if (!this.isLoad) {
        return []
      }
      return this.posts.map((post) => {
        return {
          id: post.id,
          title: post.title,
          desk: post.desk,
          authorName: this.getUserById(post.userId).name
        }
      }).filter((card) => !this.search || (card.authorName.toLowerCase().indexOf(this.search.toLowerCase()) !== -1))
    }
  }
}
</script>

<style lang="scss">
@use 'sass:math';
@import 'scss/reset';

.app {
  font-family: Helvetica, sans-serif;
  color: #000;
  background: rgba(119, 119, 224, 0.37);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;
  padding: 90px 15px;
}

.cards {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: auto;
  max-width: 1200px;
  margin: 0 -15px;

  &__item {
    padding: 0 15px 15px;
    flex: 0 0 1 / 3 * 100%;
    max-width: 1 / 3 * 100%;

    @media (max-width: 991px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
</style>
